<!-- $scope.$watch implementation with Task model's activeTask property watched and adjusted accordingly in ctrl SEE: TasksDisplayCtrl "$watch TEST" -->
<!--<task ng-if="$ctrl.activeTask" class="task task-active task-lvl-{{$ctrl.activeTask.priority}}" task="$ctrl.activeTask"></task>
<div ng-if="!$ctrl.activeTask && $ctrl._Tasks.tasks.length>0 && $ctrl.tasksStatus !== 'completed'" class="task-active-empty">
    Set active task by dragging task here or clicking it active.
</div>-->

<!-- MVVM implementation with Model properties used in View -->
<task ng-if="$ctrl._Tasks.activeTask" class="task task-active task-lvl-{{$ctrl._Tasks.activeTask.priority}}" task="$ctrl._Tasks.activeTask"></task>
<div ng-if="!$ctrl._Tasks.activeTask && $ctrl._Tasks.tasks.length>0 && $ctrl.tasksStatus !== 'completed'" class="task-active-empty">
    Set active task by dragging task here or clicking it active.
</div>

<div class="task-list-empty" ng-if="$ctrl._Tasks.tasks.length==0 && $ctrl._Tasks.activeTask==undefined">
    Select plus below to add a task
</div>
<task-list class="task-list" tasks="$ctrl._Tasks.tasks"></task-list>

<!-- TODO: combine following 3 elements and place into component/directive ? -->
<div class="toggle-add-task-outer">
    <div class="toggle-add-task-inner" ng-click="$ctrl.showAddTaskForm = !$ctrl.showAddTaskForm">
        <i ng-hide="$ctrl.showAddTaskForm" class="ion-plus-round"></i>
        <i ng-show="$ctrl.showAddTaskForm" class="ion-minus-round"></i>
    </div>
</div>
<list-errors errors="$ctrl.errors"></list-errors>
<add-task-form ng-show="$ctrl.showAddTaskForm" class="add-task-form"></add-task-form>

<!--<pre>{{ items }}</pre>
<ul ui-sortable="sortableOptions" ng-model="items">
  <li ng-repeat="item in items">{{ item }}</li>
</ul>-->

<pre>{{ $ctrl.items }}</pre>
<ul ui-sortable="$ctrl.sortableHandlers" ng-model="$ctrl.items">
  <li style="display:block; background-color:lightgrey; width: 100px" ng-repeat="item in $ctrl.items">{{ item.title }}</li>
</ul>