<!-- $scope.$watch implementation with Task model's activeTask property watched and adjusted accordingly in ctrl SEE: TasksDisplayCtrl "$watch TEST" -->
<!--<task ng-if="$ctrl.activeTask" class="task task-active task-lvl-{{$ctrl.activeTask.priority}}" task="$ctrl.activeTask"></task>
<div ng-if="!$ctrl.activeTask && $ctrl._Tasks.tasks.length>0 && $ctrl.tasksStatus !== 'completed'" class="task-active-empty">
    Set active task by dragging task here or clicking it active.
</div>-->
<div class="hundred-bottom-padding">
    <ul data-list="activeTaskList" ui-sortable="$ctrl.sortableOptions" 
        class="active-inactive-connected-list active-task-list" ng-model="$ctrl.activeTaskList">    
        <!-- NOTE: will only be one element in activeTaskList, but we need list (w/ng-repeat) for angular ui-sortable to maintain ng-model -->        
        <li ng-if="$ctrl.activeTaskList[0].elementType === 'li'" ng-hide="$ctrl.hoveringActiveTaskList" 
            ng-repeat="element in $ctrl.activeTaskList" class="unsortable {{element.cssClass}}">{{ element.displayText }}</li>
        <!--<task ng-repeat="element in $ctrl.activeTaskList" task="element.task" class="task task-active task-lvl-{{element.priority}}"></task>-->
        <task ng-if="$ctrl.activeTaskList[0].elementType === 'task'" ng-hide="$ctrl.hoveringActiveTaskList" 
            ng-repeat="element in $ctrl.activeTaskList | filter:{elementType:'task'}:true" task="element" 
            class="task task-active task-lvl-{{element.priority}}"></task>
    </ul>

    <!-- MVVM implementation with Model properties used in View -->
    <task-list class="task-list" tasks="$ctrl._Tasks.tasks" sortableoptions="$ctrl.sortableOptions" 
        hoveringinactivetasklist="$ctrl.hoveringInactiveTaskList"></task-list>

    <!-- TODO: combine following 3 elements and place into component/directive ? -->
    <div class="toggle-add-task-outer">
        <div class="toggle-add-task-inner" ng-click="$ctrl.showAddTaskForm = !$ctrl.showAddTaskForm">
            <i ng-hide="$ctrl.showAddTaskForm" class="ion-plus-round"></i>
            <i ng-show="$ctrl.showAddTaskForm" class="ion-minus-round"></i>
        </div>
    </div>
    <list-errors errors="$ctrl.errors"></list-errors>
    <add-task-form ng-show="$ctrl.showAddTaskForm" class="add-task-form"></add-task-form>
</body>
