<task ng-if="$ctrl.activeTask" class="task task-active task-lvl-{{$ctrl.activeTask.priority}}" task="$ctrl.activeTask"></task>
<div ng-if="!$ctrl.activeTask && $ctrl.tasks.length>0" class="task-active-empty">Set active task by dragging task here or clicking it active.</div>

<div class="task-list-empty" ng-if="$ctrl.tasks.length==0 && $ctrl.activeTask==undefined">
    Select New tab to add a task
</div>
<task-list class="task-list" tasks="$ctrl.tasks"></task-list>

<div class="toggle-add-task-outer">
    <div class="toggle-add-task-inner" ng-click="$ctrl.showAddTaskForm = !$ctrl.showAddTaskForm">
        <i ng-hide="$ctrl.showAddTaskForm" class="ion-plus-round"></i>
        <i ng-show="$ctrl.showAddTaskForm" class="ion-minus-round"></i>
    </div>
</div>
<list-errors errors="$ctrl.errors"></list-errors>
<add-task-form ng-show="$ctrl.showAddTaskForm" class="add-task-form" tasksinfo="$ctrl.tasksInfo"></add-task-form>