<md-toast class="notifications-md-toast">
    <div class="toast-wrapper">
      <div class="due-date-time-notifications-wrapper">
        <due-notification ng-repeat="notification in $ctrl.dueDateTimeNotifications | orderBy: 'targetDateTime'" 
          class="notification" notification="notification"></due-notification>
      </div>
      <div class="reminder-date-time-notifications-wrapper">
        <reminder-notification ng-repeat="notification in $ctrl.reminderDateTimeNotifications | orderBy: 'targetDateTime'" 
          class="notification" notification="notification"></reminder-notification>
      </div>
    </div>          
</md-toast>