<!--<div class="projects-wrapper">
    <span>Projects |</span>
    <span>Stocks |</span>
    <span>Learning</span>
</div>-->

<!-- TODO: loop through projects and create list with si-refs -->
<project project="{title: 'all'}">all</project>
<project project="project" ng-repeat="project in $ctrl.projects"></project>
<!--<button ui-sref="app.tasks.view({project: 'miscellaneous'})">Miscellaneous</button>-->
<h5>Add New Project<h5>
<list-errors errors="$ctrl.errors"></list-errors>    
<form>
    <fieldset ng-disabled="$ctrl.isSubmitting">
        <fieldset class="form-group">
            <input class="form-control form-control-sm"
            ng-model="$ctrl.project.title"
            type="text"
            placeholder="Project Title" />
        </fieldset>
        <button class="btn btn-sm pull-xs-right btn-primary" type="button" ng-click="$ctrl.submit()">
            Add Project
        </button>
    </fieldset>
</form>
