<div class="project-anchor-wrapper">
    <a class="project-anchor" ng-href="{{ $ctrl._$state.href('app.tasks.view', {project: $ctrl.project.title}) }}">
        <button ng-class="{'display-project': $ctrl._Projects.displayProject === $ctrl.project.title}" class="btn btn-sm primary project-button" class="button">{{ $ctrl.project.title }}</button>
    </a>
    <span ng-if="$ctrl.project.title !== 'all'" class="project-controls-outer">
        <div class="project-controls-inner">
            <span class="project-delete-wrapper">
                <span type="button" aria-label="delete" ng-click="$ctrl.deleteProject()">
                    <span aria-hidden="true">&times;</span>
                </span>
            </span>
        </div>
    </span>
</div>