 <form ng-submit="!tagFieldFocused && $ctrl.submit()">
    <fieldset ng-disabled="$ctrl.isSubmitting">

    <fieldset class="form-group">
        <input class="form-control form-control-lg"
            required
            ng-model="$ctrl.task.title"
            type="text"
            placeholder="Task Title" />
    </fieldset>

    <fieldset class="form-group">
        <!-- NOTE: data-ng-model (selected option) must be an Object in $ctrl.projects -->
        <select class="form-control" 
                data-ng-model="$ctrl.task.project" 
                data-ng-options="project.title for project in $ctrl._Projects.projects">                    
        </select>
    </fieldset>    

    <fieldset class="form-group">
        <select class="form-control" ng-model="$ctrl.task.priority" 
            data-ng-options="opt.value as opt.label for opt in $ctrl.priorityOptions">                    
        </select>
    </fieldset>

    <div class="due-date-time-ctrls-wrapper"> <!-- todo: wrap in a bootstrap? well -->
        <!-- NOTE: button type is "submit" by default -->
        <button type="button" ng-hide="$ctrl.displayingduedatetimeinput" ng-click="$ctrl.toggleDueDateTimeDisplay()"
            class="btn btn-sm btn-info">
            Add Due Date
        </button>
        <button type="button" ng-show="$ctrl.displayingduedatetimeinput" ng-click="$ctrl.toggleDueDateTimeDisplay()" 
            class="btn btn-sm btn-warning">
            Remove Due Date
        </button>
        <span>
            <task-due-date-time-input displayingduedatetimeinput="$ctrl.displayingduedatetimeinput"
                ng-show="$ctrl.displayingduedatetimeinput" task="$ctrl.task">
            </task-due-date-time-input>
        </span>
    </div>

     <!--TODO: extract this into a component || place in task-reminder-date-time-input component?  -->
    <div class="reminder-date-time-ctrls-wrapper">
        <button type="button" ng-hide="$ctrl.displayingreminderdatetimeinput" ng-click="$ctrl.toggleReminderDateTimeDisplay()"
            class="btn btn-sm btn-info">
            Add Reminder
        </button>
        <button type="button" ng-show="$ctrl.displayingreminderdatetimeinput" ng-click="$ctrl.toggleReminderDateTimeDisplay()" 
            class="btn btn-sm btn-warning">
            Remove Reminder
        </button>        
        <div ng-show="$ctrl.displayingreminderdatetimeinput">
            <task-reminder-date-time-input class="inline-block" task="$ctrl.task"
                displayingreminderdatetimeinput="$ctrl.displayingreminderdatetimeinput">
            </task-reminder-date-time-input>
        </div>        
    </div>
    <!-- /TODO -->

    <fieldset class="form-group">
        <input class="form-control"
            placeholder="Enter tags"
            ng-model="$ctrl.tagField"
            ng-keyup="$event.keyCode == 13 && $ctrl.addTag()"
            ng-focus="tagFieldFocused=true"
            ng-blur="tagFieldFocused=false" />

        <div class="tag-list">
            <span ng-repeat="tag in $ctrl.task.tagList"
            class="tag-default tag-pill">
            <i class="ion-close-round" ng-click="$ctrl.removeTag(tag)"></i>
            {{ tag }}
            </span>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <input type="checkbox">Set Active</input>
    </fieldset>
    <div style="width:95%">
        <button class="add-task-btn btn btn-lg pull-xs-right btn-primary" type="submit">
            Add Task
        </button>
    </div>

    <!-- TODO: add button to clear form via type="reset" (I think) -->
</form>