<!--<pre>{{$ctrl.task | json}}</pre>-->
<span>{{$ctrl.task.title}}</span>
<span class="task-controls-outer">
    <div class="task-controls-inner">
        <span class="task-delete-wrapper">
            <span type="button" class="task-delete" aria-label="delete" ng-click="$ctrl.deleteTask()">
                <span aria-hidden="true">&times;</span>
            </span>
        </span>  
        <span class="task-display-notes-wrapper">
            <span type="button" class="toggle-notes" ng-click="$ctrl.toggleTaskNotes(task)">
                <span class="ion-clipboard" data-pack="default" data-tags="write"></span>
            </span>
        </span>                
    </div>
</span>
<!--<pre>{{ console.log($ctrl.task.notes) }}</pre>-->
<task-notes task="$ctrl.task" ng-show="$ctrl.task.showNotes"></task-notes>
