<ul data-list="inactiveTaskList" class="inactive-task-list active-inactive-connected-list" ui-sortable="$ctrl.sortableoptions" ng-model="$ctrl.tasks">
    <task class="task task-lvl-{{task.priority}}" ng-if="!$ctrl.hasZeroTaskLength()" task="task" ng-repeat="task in $ctrl.tasks"></task>
    <li class="inactive-tasks-placeholder" ng-show="$ctrl.hasZeroTaskLength() && !$ctrl.hoveringinactivetasklist">Inactive tasks will go here...</li>
</ul>


<!--<article-preview
    article="article"
    ng-repeat="article in $ctrl.list">
</article-preview>

<div class="article-preview"
    ng-hide="!$ctrl.loading">
    Loading articles...
</div>

<div class="article-preview"
    ng-show="!$ctrl.loading && !$ctrl.list.length">
    No articles are here... yet
</div>

<list-pagination
    total-pages="$ctrl.listConfig.totalPages"
    current-page="$ctrl.listConfig.currentPage"
    ng-hide="$ctrl.listConfig.totalPages <= 1">
</list-pagination>-->
