<div class="task-notes-list">
    <task-note index="$index" task="$ctrl.task" note="note" ng-repeat="note in $ctrl.task.notes"></task-note>
    <div class="add-note-wrapper">
        <div ng-hide="$ctrl.showNoteForm" class="add-note-icon" ng-click="$ctrl.toggleNoteForm()">
            <i class="ion-plus-round"></i>
        </div>
        <div ng-show="$ctrl.showNoteForm" class="add-note-icon-close" ng-click="$ctrl.toggleNoteForm()">
            <i class="ion-minus-round"></i>
        </div>    
    </div>
</div>
<form ng-show="$ctrl.showNoteForm" class="card add-note-form" ng-submit="!tagFieldFocused && $ctrl.addNote()">
    <fieldset ng-disabled="$ctrl.newNoteForm.isSubmitting">        
        <fieldset class="form-group">
            <input class="form-control"
                type="text"
                placeholder="Add a note"
                ng-model="$ctrl.newNoteForm.title">
            </input>
        </fieldset>

        <fieldset class="form-group">
            <input ng-model="$ctrl.newNoteForm.isTodo" type="checkbox"> TODO</input>
        </fieldset>

        <fieldset class="form-group">
            <input class="form-control"
                type="text"
                placeholder="Enter tags"
                ng-model="$ctrl.tagField"
                ng-keyup="$event.keyCode == 13 && $ctrl.addTag()"
                ng-focus="tagFieldFocused=true"
                ng-blur="tagFieldFocused=false" />

            <div class="tag-list">
                <span ng-repeat="tag in $ctrl.newNoteForm.tagList"
                class="tag-default tag-pill">
                <i class="ion-close-round" ng-click="$ctrl.removeTag(tag)"></i>
                {{ tag }}
                </span>
            </div>
        </fieldset>

        <button class="btn btn-primary" type="submit">
            Add
        </button>
    </fieldset>
</form>