<div class="task-note">
    <div class="task-note-content-wrapper">
        <span>
            <form ng-show="$ctrl.note.isTodo" class="task-note-todo">
                <fieldset class="form-group fieldset-single-checkbox">
                    <input class="note-todo-checkbox" ng-model="$ctrl.note.isComplete" type="checkbox" ng-click="$ctrl.toggleTodo($ctrl.note)"></input>
                </fieldset>
            </form>
        </span>
        <span ng-class="{'greyed-out': $ctrl.note.isComplete}">
            <span ng-hide="$ctrl.editingTitle" ng-click="$ctrl.handleEditTitleToggle()" class="note-title">{{ $ctrl.note.title }}</span>
            <span ng-show="$ctrl.editingTitle" class="edit-note-form">
                <form class="edit-note-form" onsubmit="document.activeElement.blur()">
                    <fieldset ng-disabled="$ctrl.updatingNote">
                        <textarea class="edit-note-textarea form-control form-control-sm"
                            rows="1"
                            ng-blur="$ctrl.handleEditTitleToggle()"
                            ng-model="$ctrl.note.title"
                            type="text"
                            show-focus="$ctrl.editingTitle"
                            required/>
                    </fieldset>
                </form>
            </span>
        </span>
    </div>

    <span class="note-controls-outer">
        <div class="note-controls-inner">
            <span class="note-delete-wrapper">
                <span type="button" class="note-delete" aria-label="delete" ng-click="$ctrl.deleteNote($ctrl.note.id, $ctrl.index)">
                    <span aria-hidden="true">&times;</span>
                </span>
            </span>               
        </div>
    </span>
<div>
