    <fieldset class="form-group pos-relative">
        <div class="input-group date-time-picker date">            
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>            
            <input type="text" ng-blur="$ctrl.handleDueDateTimeInputBlur()" 
                ng-required="$ctrl.displayingduedatetimeinput"
                class="form-control add-task-date-input" 
                ng-model="$ctrl.task.dueDateTime"                                 
                data-date-time-picker="MMMM Do YYYY, h:mm a"
                show-focus="$ctrl.displayingduedatetimeinput"/>                
        </div>        
        <button type="button" class="ion-close-round clear-task-date-btn btn btn-sm" 
            data-pack="ios" ng-click="$ctrl.removeTaskDate()"></button>        
    </fieldset>