<pre>{{ notes }}</pre>
<p>Notes Here...</p>
<task-note note="taskNote" ng-repeat="note in notes"></task-note>
<!--<div ng-show=""-->
<!--<div>
    <ul ng-show="vm.displayTaskNotes" class="task-notes-container">
        <li ng-repeat="note in task.notes">
            <span ng-show="note.isTodo">
                <form style="display:inline;" ng-click="vm.toggleNoteTodoStatus(note)">
                    <input type="checkbox" ng-checked="note.todoComplete"></input>
                </form>
            </span>
            <span>{{ note.title }}</span>
        </li>
        <li>
            <form class="add-task-note-form" ng-submit="vm.addTaskNote(task)">
                <div class="form-group">
                    <input ng-model="vm.taskNoteTitle" type="text" class="form-control add-task-note-input" placeholder="Title" required></input>
                    <button class="btn btn-primary">Add</button>    
                </div>
            </form>
        </li>
    </ul>
</div>-->