
<li class="li-list-wrapper" data-order="{{$ctrl.task.order}}">
    <span class="task-outer-wrapper" ng-dblclick="$ctrl.toggleTaskNotes(task)">
        <div class="task-inner-wrapper">
            <!--<div style="display:inline-block;">-->
            <div>
                <span ng-class="{'greyed-out' : $ctrl.task.isComplete}">
                    <span ng-hide="$ctrl.editingTitle" ng-click="$ctrl.handleEditTitleToggle()" class="task-title">{{$ctrl.task.title}}</span>
                    <span ng-if="$ctrl.editingTitle" class="edit-task-form">
                        <!--<form class="edit-task-form" ng-submit="$ctrl.blurElement($event)">-->
                            <!-- NOTE: only way to submit form is for title input to have focus, so onsubmit works here -->
                            <form class="edit-task-form" onsubmit="document.activeElement.blur()">
                            <fieldset ng-disabled="$ctrl.updatingTask">
                                <textarea class="edit-task-textarea form-control form-control-sm"
                                    ng-blur="$ctrl.handleEditTitleToggle()"
                                    ng-model="$ctrl.task.title"
                                    type="text"
                                    show-focus="$ctrl.editingTitle" 
                                    required/>
                            </fieldset>

                            <!--<fieldset class="form-group">
                                <select class="form-control"
                                        data-ng-model="$ctrl.task.project.title"
                                        data-ng-options="project.title for project in $ctrl._Projects.projects">
                                </select>
                            </fieldset>-->
                        </form>
                    </span>
                </span>
                <span ng-if="$ctrl.task.isActive">
                    <pom-timer taskid="$ctrl.task.id"></pom-timer>
                </span>
            </div>
            <div class="task-due-date-time-wrapper" ng-class="{'small-bottom-margin' : $ctrl.task.showNotes}">
                <span ng-if="$ctrl.task.dueDateTime && !$ctrl.editingDueDateTime" ng-click="$ctrl.handleEditDueDateTimeToggle()" 
                    ng-class="$ctrl.colorBasedOnTimeRemaining()" class="task-due-date-time">Due {{ $ctrl.task.dueDateTime | timeDeltaInWords }}
                    <md-tooltip md-direction="right">{{ $ctrl.task.dueDateTime | date: 'MMM d yyyy, h:mm a' }}</md-tooltip>
                </span>
                <span ng-if="$ctrl.editingDueDateTime">
                    <task-due-date-time-input task="$ctrl.task" editmode="true"></task-due-date-time-input>
                </span>
            </div>


            <span class="task-controls-outer">
                <div class="task-controls-inner">
                    <span class="task-toggle-task-complete-wrapper">
                        <span type="button" ng-click="$ctrl.toggleTaskComplete()">                
                            <span ng-class="{'ion-android-checkmark-circle' : $ctrl.task.isComplete, 
                                            'ion-android-radio-button-off' : !$ctrl.task.isComplete}" 
                                data-pack="default" data-tags="write"></span>
                        </span>
                    </span>
                    <span class="task-toggle-active-wrapper">
                        <span type="button" aria-label="set-active" ng-click="$ctrl.task.isComplete ? null : $ctrl.toggleTaskActive()">
                            <span ng-class="{'ion-pause' : $ctrl.task.isActive, 
                                            'ion-ios-play-outline cursor-not-allowed' : $ctrl.task.isComplete,
                                            'ion-play' : !$ctrl.task.isActive && !$ctrl.task.isComplete}"
                                data-pack="default" data-tags="write"></span>
                        </span>
                    </span>        
                    <span class="task-delete-wrapper">
                        <span type="button" aria-label="delete" ng-click="$ctrl.deleteTask()">
                            <span aria-hidden="true">&times;</span>
                        </span>
                    </span>  
                    <span class="task-display-notes-wrapper">
                        <span type="button" ng-click="$ctrl.toggleTaskNotes(task)">
                            <span class="ion-clipboard" data-pack="default" data-tags="write"></span>
                        </span>
                    </span>
                    <span class="task-edit-due-date-time-toggle-wrapper">
                        <span type="button" ng-click="$ctrl.handleEditDueDateTimeToggle()">
                            <span class="ion-ios-clock" data-pack="ios" data-tags="wake, ring"></span>
                        </span>
                    </span>
                    <span class="task-edit-reminder-date-toggle-wrapper">
                        <span type="button" ng-click="$ctrl.handleEditReminderDateToggle()">
                            <span class="ion-ios-alarm" data-pack="ios" data-tags="wake, ring"></span>
                        </span>
                    </span>
                </div>
            </span>
            <!--<pre>{{ console.log($ctrl.task.notes) }}</pre>-->
            <task-notes task="$ctrl.task" ng-show="$ctrl.task.showNotes"></task-notes>
        </div>
    </span>
</li>