<div class="well">
    Every
    <fieldset class="form-group inline-block">
        <select class="form-control" ng-required="$ctrl.displayingreminderdatetimeinput" 
            ng-model="$ctrl.task.reminderIntervalNumber" ng-change="$ctrl.handleReminderIntervalChange()" 
            data-ng-options="opt for opt in $ctrl.reminderIntervalOptions">
        </select>                        
    </fieldset>
    <fieldset class="form-group inline-block">
        <select class="form-control" ng-required="$ctrl.displayingreminderdatetimeinput"
            ng-model="$ctrl.task.reminderIntervalPeriod" ng-change="$ctrl.handleReminderIntervalChange()" 
            data-ng-options="opt for opt in $ctrl.reminderPeriodOptions">
        </select>
    </fieldset>
    <!-- TODO: attempted to add .vertically-aligned but text still sat at bottom of span? -->

    <div>
        <span style="vertical-align: 12px">Starting</span>
    </div>
    <fieldset class="form-group pos-relative no-margin">
        <div class="input-group date-time-picker date">            
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>            
            <input type="text" ng-required="$ctrl.displayingreminderdatetimeinput" 
                ng-blur="$ctrl.handleReminderDateTimeInputBlur()" 
                class="form-control add-task-date-input" 
                ng-model="$ctrl.task.reminderDateTime"                                 
                data-date-time-picker="MMMM Do YYYY, h:mm a"
                show-focus="$ctrl.displayingreminderdatetimeinput"/>
                <!--ng-submit="$ctrl.handleReminderDateTimeInputBlur()"/>-->
        </div>        
        <button type="button" class="ion-close-round clear-task-date-btn btn btn-sm" 
            data-pack="ios" ng-click="$ctrl.removeTaskDate()"></button>        
    </fieldset>
    <!-- TODO: add button to trigger reminderDateTime update - may need to separate add-task-form + task edit components, since add-task-form is already nested in a form-->
</div>