<div class="pomreport-interval-wrapper" ng-click="$ctrl.queryAndDisplayPomtrackerInfoPanelIfPom($event)"> 
    <md-tooltip ng-if="$ctrl.isPomInterval() && !$ctrl.verboseinfo" md-direction="top"
                ng-class="{'italic': $ctrl.taskMissingTitle}">{{ $ctrl.getTaskTitle() }}</md-tooltip>
    <div class="pomreport-time">{{ $ctrl.pomtracker.createdAt | date:'h:mm a' }}</div>    
    <div style="display:table">
        <div style="display:table-cell;vertical-align: middle">
            
            <div class="pomreport-box-wrapper">
                <md-progress-circular ng-show="$ctrl.intervalIsActive()" md-mode="indeterminate"></md-progress-circular>
                <div ng-hide="$ctrl.intervalIsActive()" ng-style="{ height: $ctrl.boxPixelHeightFromIntervalType() }" 
                     class="pomreport-box-outer" ng-class="::{ 'light-blue-background': $ctrl.intervalSucceeded() }">
                    <div ng-style="{ 'height': $ctrl.intervalCompletionPercentage, 'border-radius': $ctrl.setInnerBoxBottomBorderRadius() }" class="pomreport-box-inner"></div>    
                </div>
            </div>
        </div>
    </div>

    <div ng-if="$ctrl.verboseinfo" class="pomreport-info-wrapper">
        <div style="height:100%">
            <span ng-switch on="$ctrl.trackerType">
                <span ng-switch-when="pom" class="ion-play" data-pack="default" data-tags="write"></span>    
                <span ng-switch-when="shortBrk" class="ion-ios-bolt ion-small" data-pack="default" data-tags="write"></span>
                <span ng-switch-when="longBrk" class="ion-ios-bolt" data-pack="default" data-tags="write"></span>
            </span>
            &nbsp;
            <span ng-if="$ctrl.isPomInterval()" ng-class="{'italic': $ctrl.taskMissingTitle}">{{ $ctrl.getTaskTitle() }}</span>
        </div>
    </div>
</div>