<div class="notification-content-wrapper">
    <div class="notification-title-wrapper">
        <span class="notification-title">{{ $ctrl.notification.title }}</span>
    </div>
    <span ng-class="{'red' : $ctrl.targetDateTimeInPast()}" class="task-due-date-time">{{ $ctrl.notification.targetDateTime | timeDeltaInWords }}</span>
</div>

<span class="notification-controls-outer">
    <span class="notification-controls-inner">
        <span class="ion-ios-clock" data-pack="ios" data-tags="wake, ring">
        <span class="ion-ios-cloudy-night" data-pack="ios"></span>
        <span class="ion-android-close"></span>
    </span>
</span>