<div class="notification-content-wrapper">
    <div class="notification-title-wrapper">
        <span class="notification-title">{{ $ctrl.notification.title }}</span>
    </div>
    <div>        
        <span ng-hide="$ctrl.editingdatetime" ng-class="{'red' : $ctrl.targetDateTimeInPast()}" class="task-due-date-time"            
            ng-click="$ctrl.handleEditDateTimeToggle()">
            {{ $ctrl.notification.targetDateTime | timeDeltaInWords }}
            <md-tooltip md-direction="right">{{ $ctrl.notification.targetDateTime | date: 'MMM d yyyy, h:mm a' }}</md-tooltip>
        </span>
        <span ng-if="$ctrl.editingdatetime">
            <div class="notification-date-time-input-wrapper">
                <notification-date-time-input editingdatetime="$ctrl.editingdatetime" notification="$ctrl.notification"></notification-date-time-input>
            </div>
        </span>
    </div>  
</div>

<span class="notification-controls-outer" style="width: 72px;">
    <span class="notification-controls-inner">
        <span class="ion-ios-clock" ng-click="$ctrl.handleEditDateTimeToggle()" data-pack="ios" data-tags="wake, ring"></span>
        <i class="glyphicon glyphicon-log-in" ng-click="$ctrl._TaskNotifications.sleepDueNotification($ctrl.notification, {'days': 1})">
            <md-tooltip md-direction="right">Set Due Tomorrow</md-tooltip>
        </i>
        <i class="glyphicon glyphicon-share" ng-click="$ctrl._TaskNotifications.sleepDueNotification($ctrl.notification, {'weeks': 1})">
            <md-tooltip md-direction="right">Set Due In a Week</md-tooltip>
        </i>
        <span class="ion-android-close" ng-click="$ctrl.clearDueDateTime()"></span>
    </span>
</span>