// TODO: find out how to override default bootstrap vars
//      see: https://github.com/RailsApps/rails-composer/issues/146
// $navbar-default-color: $light-orange; // doesn't appear to be working
// $navbar-default-bg: red;

// @import "bootstrap";

.test {
    color: red;
    width: percentage(7/7); // Use this to ensure SASS compiled correctly
}

.cursor-not-allowed { cursor: not-allowed; }

.fieldset-single-checkbox {
    height: 0;
}
.task-list {
    
}

.task {            
    font-size: 1.4  em; /* rem based off of root(relative) size, while em based off of direct parent */    
    border-top: .1px solid ghostwhite;    
    border-bottom: 1px solid seagreen;
    // border-radius: 5px 0px 0px 5px;    
    white-space: normal;    
    width: 95%;    
    display: inline-block;
    // padding: 10px;
    position: relative; /* set to allow for absolute positioning on task controls */
    border-radius: 5px;
}
.task-outer-wrapper {
    display: inline-block;
    height: 100%;
    width: 100%
}
.task-inner-wrapper {
    margin: 10px;
}
.task:hover {
    cursor: pointer;
    background-color: lightblue;
}
// .task {
//     border-top: none;    
// }
.task:last-child {
    border-bottom: none;
}
.task-lvl-1 {
    background-color: #00FF00; 
    /*border-bottom: 2px solid black;*/
}
.task-lvl-2 {
    background-color: #00B800; 
    /*border-bottom: 2px solid black;*/
}
.task-lvl-3 {
    background-color: #009000;
    /*border-bottom: 2px solid #e6e600;*/
}
.task-lvl-4 {
    background-color: #007000;
    /*border-bottom: 2px solid darkolivegreen;*/
}

.task-active {
    margin-top: 5px;
    background-color: deepskyblue;
    // border: 5px ridge deepskyblue;
}
.task-active-empty {
    text-align: center;
    width: 95%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: deepskyblue;
    border: 1px white dashed;    
    opacity: 0.6; /* Real Browsers */
    filter: alpha(opacity = 0); /* MSIE */
}
.task-list-empty {
    margin-top: 5px;    
    text-align: center;
    width: 95%;
    border-radius: 5px;
    border: 1px white dashed;
    background-color: lightgrey;    
}

.task-controls-outer {    
    /* setting absolute position in tandem with relative position on parent fixes bug in Firefox/Safari/Chrome 
       that doesn't allow child elements to inherit height property. See: 
       http://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height 
    */    
    :hover {
        // color: white;
    }
    position: absolute; 
    display: inline-block;    
    // background-color: whitesmoke;
    border-radius: 0px 5px 5px 0px;
    width: 60px;
    padding: 3px;
    /*padding-left: 4px;*/
    /*padding-right: 4px;*/
    // border-bottom: .5px solid seagreen;
    height: 100%;   
    top: 0;
    right: 0;
    // :hover {
    //     color: red;        
    // }
}
.task-controls-inner {
    /*width: 100%;*/   
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    text-align: center;
}

.toggle-add-task-outer {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 95%;
    // display: inline-block;
    :hover:not(i) {
        border: 1px solid green;
        border-radius: 5px;
        cursor: pointer;
    }
}
.toggle-add-task-inner {
    width: 100%; // Set to fill entire border on :hover
    padding-left: 3px;
}
.add-task-form {
    input[type=text], select {
        width: 95%;
    }
    input[type=checkbox] {
        margin-right: 5px;
    }
}

.task-toggle-task-complete-wrapper:hover {
    color: blue;
}
// .task-toggle-active-wrapper:hover {
//     color: orange;
// }
.pom-wrapper {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 10px;
    background-color: lightgray;
    border-radius: 5px;
    // :hover {
    //     font-size: 1.2em;
    // }
}
.ion-small {
    font-size: .75em;
}
.ion-pause:hover { 
    color: orange;
}
.ion-play:hover {
    color: lawngreen;
}
.ion-stop:hover {
    color: red;
}
.ion-ios-reload:hover {
    color: mediumpurple;
}
.ion-ios-loop:hover {
    color: rebeccapurple;
}
.task-delete-wrapper:hover {
    color: red;
}
.task-display-notes-wrapper:hover {
    color: rebeccapurple;
}
.ion-ios-bolt:hover {
    color: yellow;
}

/* Notes */
.add-note-form {
    margin-left: 24px;
    width: 85%;
    padding: 10px;
}
.task-notes-list {
    margin: 0px 35px 0px 20px;
    padding: 5px;
    list-style-type: none;
    div.task-note {
        position: relative;
        font-size: .75em;
        border: 1px solid white;
        border-radius: 5px;
        padding: 3px;
        margin-bottom: 2px;
        background-color: white;
        // border-bottom: 1px;
    }
}

.add-note-wrapper:hover {
    background-color: white;
    border-radius: 5px;
}
.add-note-icon, .add-note-icon-close {    
    padding-left: 3px;
    :hover {
        border-radius: 2000px;
        background-color: white;
    }
}
.task-note-todo {
    display: inline-block;
}
.greyed-out {
    text-decoration: line-through;
    opacity: 0.6; /* Real Browsers */
    filter: alpha(opacity = 0); /* MSIE */
}
.note-todo-checkbox {
    vertical-align: middle; 
}
.note-controls-outer {    
    /* setting absolute position in tandem with relative position on parent fixes bug in Firefox/Safari/Chrome 
       that doesn't allow child elements to inherit height property. See: 
       http://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height 
    */    
    :hover {
        // color: white;
    }
    position: absolute; 
    display: inline-block;    
    // background-color: whitesmoke;
    border-radius: 0px 5px 5px 0px;
    width: 30px;
    padding: 3px;
    /*padding-left: 4px;*/
    /*padding-right: 4px;*/
    // border-bottom: .5px solid seagreen;
    height: 100%;   
    top: 0;
    right: 0;
    // :hover {
    //     color: red;        
    // }
}
.note-controls-inner {
    /*width: 100%;*/   
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    text-align: center;
}
.note-delete-wrapper:hover {
    color: red;
}