// TODO: find out how to override default bootstrap vars
//      see: https://github.com/RailsApps/rails-composer/issues/146
// $navbar-default-color: $light-orange; // doesn't appear to be working
// $navbar-default-bg: red;

// @import "bootstrap";

.test {
    color: red;
    width: percentage(7/7); // Use this to ensure SASS compiled correctly
}

/*! SEE => HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
html {
    // color: #222;
    // font-size: 1em;
    // line-height: 1.4;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.color-whitesmoke {
    color: whitesmoke;
}
.red {
    color: red;
}
.red-orange {
    color: #f46e42;
}
.orange {
    color: orange;
}
.yellow-orange {
    color: #ffce27;
}
.green {
    color: green;
}
.black {
    color: black;
}

.gray-background {
    background-color: lightgray;
    border-radius: 5px;
}

// override for main.css
html {
    padding-bottom: 0 !important;
}

ol {
    padding-left: 20px;
}
hr, ol {
    margin: 0;
}
h5 {
    font-size: .85rem;
}
h6 {
    margin-bottom: 5px;
}
.cursor-not-allowed { cursor: not-allowed; }
.text-center-aligned { text-align: center; }

.vertically-centered { vertical-align: middle; }

.no-margin { margin: 0; }
.small-bottom-margin { margin-bottom: 5px !important; }

.fieldset-single-checkbox {
    height: 0;
}

.small-text {
    font-size: 0.75em;
}

.navbar-brand {
    padding-top: 12px !important;
}
.navbar {
    padding: 0;
    margin: 0;
}
.navbar-inner {
    position: absolute;
    right: 15px;
}

/* From http://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle */
.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
 } 
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.container {
    max-width: none;
    margin: 0;
    padding: 0px 40px 0px 40px;
}
@media (max-width: 480px) {
    .container {
        padding: 0px 25px 0px 25px;
    }
}

.inline { display: inline; }
.inline-block { display: inline-block; }
.pos-relative { position: relative; }

// this is a workaround(hack) for not being able to scroll past last task || pomreport-interval due to md-toast body schenanigans
.hundred-bottom-padding {
    padding-bottom: 100px;
}

.tasks-container {
    width: 100%;
}

.tasks-flexbox {
    display: -ms-flexbox;
    display: -webkit-flex; /* Safari */
    display: flex; // designates flex-container
}
.tasks-wrapper {
    flex-basis: 65%; // starting width
    flex-grow: 1; // set to positive int to take up remaining space in flex container
    margin-right: 5%;
}

// make task navbar list text smaller on <= 480px screens
@media (max-width: 480px) {
    .task-navbar > li {
        font-size: 0.75rem;
    }
    .task-navbar > li a {
        padding: 6px !important;
        color: red;
    }
    .project-panel-toggle {
        margin: 8px 0 8px 6px !important; // added !important to override margin-top in default .project-panel-toggle
        padding: 0;
    }
}

.project-panel-toggle {
    margin-top: 5px;
    border-color: #ddd;
    z-index: 999; // allow user to click through project panel wrapper
    .icon-bar {
        background-color: #888;
    }    
}
.project-panel {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-width: 500px;
//   margin: 0 10px 0 10px; // TODO: right margin seems to be hindered by something?
  padding: 10px  
}

.task-list {
    // height: 
}

.task {            
    font-size: 1.4  em; /* rem based off of root(relative) size, while em based off of direct parent */    
    // border-top: .1px solid ghostwhite;    
    // border-bottom: 1px solid seagreen;
    // border-radius: 5px 0px 0px 5px;    
    white-space: normal;    
    width: 100%;  
    display: inline-block;
    // padding: 10px;
    position: relative; /* set to allow for absolute positioning on task controls */
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: #F5F5F5;
}

.inactive-tasks-placeholder {
    list-style: none;
    width:100%;
    line-height: 60px;
    background-color: lightgray;
    color: darkgray;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
}
.inactive-task-list {
    padding: 0;
    min-height: 65px;
}
.li-list-wrapper {
    list-style: none;
    display: block;
}
.task-outer-wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.task-inner-wrapper {
    // margin: 10px;
    margin: 10px 65px 10px 10px;
}
.taskHandle {
    // display: inline-block;
    cursor: move;
}
.task-title {
    font-size: 0.85em;
}
.task-due-date-time-wrapper {
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 0;
    font-style: italic;
    padding-left: 3px;
}
.task-due-date-time {
     font-size: 0.65em;
}
@media (max-width: 480px) {
    .task-title {
        font-size: 0.70em;
    }
    .task-due-date-time {
         font-size: 0.60em;
    }
    .task-inner-wrapper {
        margin: 5px 65px 5px 5px;
    }
}
.task-calendar-wrapper {
    display: inline-flex;
    font-size: 0.75em;
}
.task:hover {
    cursor: pointer;
    background-color: lightblue;
}

.edit-task-form {
    // display: inline-block;
    // height: 19px;
}
.edit-task-textarea {
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
    min-height: 24px;
    margin-right: 65px;
    // width: 100%;
    resize: none;
}

// .task {
//     border-top: none;    
// }
.task:last-child {
    // border-bottom: none;
}
.task-lvl-1 {
    // background-color: #00FF00; 
    border: 2px solid #00FF00;

    /*border-bottom: 2px solid black;*/
}
.task-lvl-2 {
    // background-color: #00B800; 
    border: 2px solid #00B800;
    /*border-bottom: 2px solid black;*/
}
.task-lvl-3 {
    // background-color: #009000;
    border: 2px solid #009000;
    /*border-bottom: 2px solid #e6e600;*/
}
.task-lvl-4 {
    // background-color: #007000;
    border: 2px solid #007000;
    /*border-bottom: 2px solid darkolivegreen;*/
}

.highlighted-task-list {
    display: block;
    width: 100%;
    height: 60px;
    background-color: lightpink;
    border: 1px solid crimson;    
    border-radius: 5px;
}

.li-no-active-task {
    height: 60px;
}
.active-task-list {
    // background-color: crimson;
    min-height: 60px;
    list-style-type: none;
    padding: 0;
}
.task-active {
    margin-top: 5px;
    background-color: deepskyblue;
    // border: 5px ridge deepskyblue;
}
.task-active-empty {
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    vertical-align: 50%;
    border-radius: 5px;
    margin-top: 5px;
    background-color: deepskyblue;
    border: 1px white dashed;    
    opacity: 0.6; /* Real Browsers */
    filter: alpha(opacity = 0); /* MSIE */
}
.task-list-empty {
    margin-top: 5px;    
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    vertical-align: 50%;
    border-radius: 5px;
    border: 1px white dashed;
    background-color: lightgrey;    
}

.task-controls-outer {    
    /* setting absolute position in tandem with relative position on parent fixes bug in Firefox/Safari/Chrome 
       that doesn't allow child elements to inherit height property. See: 
       http://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height 
    */    
    :hover {
        // color: white;
    }
    position: absolute; 
    display: inline-block;    
    // background-color: whitesmoke;
    border-radius: 0px 5px 5px 0px;
    width: 60px;
    padding: 3px;
    /*padding-left: 4px;*/
    /*padding-right: 4px;*/
    // border-bottom: .5px solid seagreen;
    height: 100%;   
    top: 0;
    right: 5px;
    // :hover {
    //     color: red;        
    // }
}
.task-controls-inner {
    /*width: 100%;*/   
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    text-align: center;
}

.toggle-add-task-outer {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    // display: inline-block;
    :hover:not(i) {
        border: 1px solid green;
        border-radius: 5px;
        cursor: pointer;
    }
}
.toggle-add-task-inner {
    width: 100%; // Set to fill entire border on :hover
    padding-left: 3px;
}
.add-task-form {
    input[type=text], select {
        width: 100%;
    }
    input[type=checkbox] {
        margin-right: 5px;
    }
}

.reminder-date-time-ctrls-wrapper {
    margin-top: 10px;
}

.date-time-picker {
}

.add-task-btn {
    margin-bottom: 70px; /* NOTE: hack so button may be seen above fixed footer */
}
.add-task-date-input {
    z-index: 0 !important;
    margin-right: 28px;
}
@media (max-width: 480px) {
    .add-task-date-input {
        margin-right: 40px;
        font-size: 0.75em;
    }
}

.clear-task-date-btn {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.due-time-label {
    margin-left: 30px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: grey;
    font-size: 14px;
}

.task-toggle-task-complete-wrapper:hover {
    color: blue;
}
// .task-toggle-active-wrapper:hover {
//     color: orange;
// }
.pom-wrapper {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    // margin-left: 10px;
    margin: 0 0 5px 5px;
    background-color: lightgray;
    border-radius: 5px;
    // :hover {
    //     font-size: 1.2em;
    // }
}
.ion-small {
    font-size: .75em;
}
.ion-pause:hover { 
    color: orange;
}
.ion-play:hover {
    color: lawngreen;
}
.ion-stop:hover {
    color: red;
}
.ion-ios-reload:hover {
    color: mediumpurple;
}
.ion-ios-loop:hover {
    color: rebeccapurple;
}
.task-delete-wrapper:hover {
    color: red;
}
.task-display-notes-wrapper:hover {
    color: rebeccapurple;
}
// .task-edit-due-date-time-toggle-wrapper:hover {
//     color: white;
// }
// .task-edit-reminder-date-toggle-wrapper:hover {
//     color: darkorange;
// }
.ion-ios-bolt:hover {
    color: yellow;
}

.task-drop-placeholder {
    background: blanchedalmond;
}

/* Notes */
.add-note-form {
    margin: 0px 2px 0px 10px;    
    padding: 10px;
}
@media (max-width: 480px) {
    .add-note-form input {
        font-size: 0.85em;
    }
    .add-note-form fieldset {
        font-size: 0.85em;
    }
}
.task-notes-list {
    // width: 85%;
    margin: 0px 0px 0px 15px;
    padding: 5px;
    list-style-type: none;
    div.task-note, div.task-checklist {
        position: relative;
        font-size: .75em;
        border: 1px solid white;
        border-radius: 5px;
        padding: 3px;
        margin-bottom: 2px;
        background-color: white;
        // border-bottom: 1px;
    }    
}
@media (max-width: 848px) {
    .task-notes-list {
        margin: 0px 0px 0px 5px;
    }
}
.ul-task-notes-list {
    padding-left: 0px;
}

.toggle-completed-items-wrapper {
    position: relative;
    height: 15px;    
    margin-right: 4px;
}
.toggle-completed-items {
    margin: 0;
    padding: 0;
    font-size: 0.75em;        
    position: absolute;
    right: 0;
}
.toggle-completed-items:hover {
    text-decoration: underline;
}

.task-checklist {
    list-style: none;
    padding-left: 10px;
}

.task-note-content-wrapper {
    // width: 95%;    
    margin-right: 20px;
}

.edit-note-form {
    display: inline-block;
    width: 95%;
}
.edit-note-textarea {
    overflow-wrap: break-word;
    resize: none;
    line-height: 1rem;
    height: 50px;
    overflow-x: hidden; /* set to remove extra line in FF => SEE: https://stackoverflow.com/questions/7695945/height-of-textarea-does-not-match-the-rows-in-firefox */
}

.task-checklist-content-wrapper {
    position: relative;
}

.task-checklist-steps-wrapper {

}
.checklist-controls-outer {    
    position: absolute; 
    display: inline-block;    
    // background-color: whitesmoke;
    border-radius: 0px 5px 5px 0px;
    width: 30px;
    padding: 3px;
    height: 100%;   
    top: 0;
    right: -3px;
}
.checklist-controls-inner {
    /*width: 100%;*/   
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    text-align: center;
}
.checklist-delete-wrapper:hover {
    color: red;
}

.checklist-progress-wrapper {
    height: 11px;
    width: 93%;
    padding: 0 0 3px 10px;
    margin: 3px 0 3px 0;
    // position: relative;
}
.checklist-progress-percentage {
    line-height: 10px;
    position: absolute;
    text-align: center;
    width: 4%;
}
.checklist-progress-bar {
    height: 11px;
    left: 0;
    clear: both;
    margin: 0 0 0 32px;
    overflow: hidden;
    position: relative;
    border-radius: 2px;    
}
.checklist-progress-linear {
    height: 11px;
}
.md-mode-determinate {
    height: 11px !important; // Defaults to 5px
}
.md-bar {
    height: 11px !important; // Defaults to 5px
}

.checklist-step {
    position: relative;
    background-color: #c7deea;
    // border: 0.5px solid black;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 3px;
    width: 93%;
}

.add-step-form {
    padding: 5px;
    margin-left: 10px;
    width: 90%;
}
.add-step-wrapper {
    margin-left: 10px;
    width: 90%;
}
.add-step-wrapper:hover {
    background-color: lightgrey;
    border-radius: 5px;
}
.add-step-icon, .add-step-icon-close {    
    padding-left: 5px;
    :hover {
        border-radius: 5px;
        background-color: lightgrey;
    }
}

.add-note-wrapper:hover {
    background-color: white;
    border-radius: 5px;
}
.add-note-icon, .add-note-icon-close {    
    padding-left: 3px;
    :hover {
        border-radius: 2000px;
        background-color: white;
    }
}
.task-note-todo {
    display: inline-block;
}
.greyed-out {
    text-decoration: line-through;
    opacity: 0.6; /* Real Browsers */
    filter: alpha(opacity = 0); /* MSIE */
}
.note-todo-checkbox {
    vertical-align: middle; 
}
.note-controls-outer {    
    /* setting absolute position in tandem with relative position on parent fixes bug in Firefox/Safari/Chrome 
       that doesn't allow child elements to inherit height property. See: 
       http://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height 
    */    
    :hover {
        // color: white;
    }
    position: absolute; 
    display: inline-block;    
    // background-color: whitesmoke;
    border-radius: 0px 5px 5px 0px;
    width: 30px;
    padding: 3px;
    /*padding-left: 4px;*/
    /*padding-right: 4px;*/
    // border-bottom: .5px solid seagreen;
    height: 100%;   
    top: 0;
    right: 0;
    // :hover {
    //     color: red;        
    // }
}
.note-controls-inner {
    /*width: 100%;*/   
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    text-align: center;
}
.note-delete-wrapper:hover {
    color: red;
}

.tasks-sidebar-wrapper {
    width: 30%;
}
.tasks-sidebar {
    padding: 5px;
    background: #f3f3f3;
    border-radius: 5px;
}

@media (max-width: 738px) {
    .sidebar-header {
        font-size: .80em;
    }
    .add-project-btn {
        font-size: .70em;
    }
}

/* Projects */
.project-list {
    list-style: none;
    padding: 0;
}

.project-anchor-wrapper {
    position: relative;
    width: 100%;
}
.project-button {    
    // padding: 5px;
    background-color: #5CB85C;
    color: white;
    border-radius: 3px;
    // margin-bottom: 1px;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
}
.project-anchor {    
    display: block;
    text-align: center;
    // width: 100%;
    margin: auto;
    color: white;
    text-decoration: none !important;
}
@media (max-width: 738px) {
    .project-button {
        font-size: .80em;
    }
}
.project-button:hover {
    cursor: pointer;
    background-color: lightblue;
}
.display-project {
    background-color: deepskyblue;
}

.project-controls-outer {
    position: absolute; 
    display: inline-block;    
    // background-color: whitesmoke;
    border-radius: 0px 5px 5px 0px;
    width: 20px;
    padding: 3px;
    /*padding-left: 4px;*/
    /*padding-right: 4px;*/
    // border-bottom: .5px solid seagreen;
    height: 100%;   
    top: 0;
    right: 0;
    // :hover {
    //     color: red;        
    // }
}
.project-controls-inner {
    /*width: 100%;*/   
    position: relative;
    // top: 50%;
    // transform: translateY(-50%); 
    text-align: center;
}
.project-delete-wrapper:hover {
    color: red;
    cursor: pointer;
}
.sidebar-well {
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}
/* Word Of The Day */
.word-of-the-day-wrapper, .quote-of-the-day-wrapper {
    font-family: "Times New Roman", Times, serif;
    font-size: .90em;
}
.word-of-the-day, .quote-of-the-day {
    color:  #903ab0;
}
@media (max-width: 480px) {
    ol {
        padding-left: 10px;
    }
    .word-of-the-day-wrapper {
        font-size: .75em;
    }
}

/* Quote Of The Day */
.quote-of-the-day-wrapper {

}
.quote-of-the-day {
}

/* Bootstrap Overrides */
.glyphicon-calendar {
    right: 7px !important;
}
.input-group-addon {
    height: 34px;
}

/* Angular Material Overrides */
.md-tooltip {
    display: block;
}

/* mdToast + Notifications */   
.md-bottom {
    // width: 400px !important;
}
.notifications-md-toast {
    width: 0;
    height: 0;  
}
.md-toast-content {
    height: auto !important;
    // min-width: 320px !important;
    // max-width: 500px !important;
    width: 320px !important;
    position: fixed;
    bottom: 10%;
    left: 25px;
    height: fit-content !important;
    max-height: none !important;
    // max-height: 500px !important; // TODO: decrease this for smaller screens?
    border-radius: 10px;
    padding: 2px !important;
    overflow: visible !important;
    z-index: 998 !important;
}
@media (max-width: 480px) {
    .md-toast-content {
        left: 0px;
        margin: 0px 10px 0px 10px;
    }
}
.toast-wrapper {
    width: 100%;
}
.due-date-time-notifications-wrapper {
    width: 100%;
    background-color: orange;
    padding: 0px 5px 0px 5px;
    // padding: 5px 5px 5px 5px;
    
}
.reminder-date-time-notifications-wrapper {
    width: 100%;
    background-color: skyblue;
    padding: 0px 5px 0px 5px;
    // padding: 5px 5px 5px 5px;

}
.notification {    
    display: block;
    position: relative;
}
@media (min-width: 480px) {
    .notification {
        font-size: 1.05rem;
    }
}
.notification:not(:last-child) {
    border-bottom: 1px solid black;
}

.notification-content-wrapper {
    margin-right: 65px;
}
@media (max-width: 480px) {
    .notification-content-wrapper {
        margin-right: 45px;   
    }
}
.notification-title-wrapper {
    // line-height: 0.5;
    // line-height: 1.0;
    margin-bottom: -10px; /* Yep, this is gross, but didn't feel like fiddling with the line-height. TODO++ */
    // padding-top: 5px;
}
.notification-title {
    line-height: 1;
    display: inline-block;
}
.notification-title:first-child {
    margin-top: 5px;
}
.notification-controls-outer {
    // font-size: 0.90rem;
    height: 100%;
    position: absolute;
    display: inline-block;
    // border-radius: 0px 5px 5px 0px;
    // padding: 3px;
    top: 0;
    right: 0;
}
@media (max-width: 480px) {
    .notification-controls-outer {
        width: 40px;
    }
}
.notification-controls-inner {
    position: relative;
    top: 27%;
    transform: translateY(-50%); 
    // text-align: center;
}
.ion-ios-alarm:hover {
    cursor: pointer;
    color: yellow;
}
.ion-ios-clock:hover {
    cursor: pointer;
    color: mediumpurple;
}
.glyphicon-log-in:hover {
    cursor: pointer;    
    color: deepskyblue;
}
.glyphicon-share:hover {
    cursor: pointer;
    color: blue;
}
.ion-android-close:hover {
    cursor: pointer;
    color: red;
}

.notification-date-time-input-wrapper {
    display: inline-block;
    margin: 10px 0 2px 0;
}

/* pomreport */
.pomreport-outer-wrapper {
    padding: 0 15px 15px 15px;
    // padding: 15px
}
.pomreport-navbar {
    margin-bottom: 0;
}

.pomreport-inner-wrapper {
    padding-top: 0px;
}

.pomreport-daily-wrapper {
    display: -ms-flexbox;
    display: -webkit-flex; /* Safari */
    display: flex;
}
.pomreport-list-wrapper {
    flex-basis: 60%;
    margin-right: 3%;
    flex-grow: 1;
    background-color: #c6d8ec;
    border-radius: 5px;
    padding: 5px;
}
.pomreport-summary-wrapper {
    flex-basis: 37%;
    height: 500px;
    background-color: #c6d8ec;
    padding: 5px;
    border-radius: 5px;
}
@media(max-width: 730px) {    
    .pomreport-summary-wrapper {
        display: none;
    }
}

.pomreport-list {
    padding: 0;
    list-style: none;
}

.pomreport-interval-wrapper {
    padding: 5px;
    display: -ms-flexbox;
    display: -webkit-flex; /* Safari */
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;

    background-color: lightgray;
    border-bottom: 1px solid gray;
    border-top: 1px solid white;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f4ff+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(246,244,255,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(246,244,255,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(246,244,255,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f4ff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

    // div {
    //     -webkit-flex: 1;  /* Safari 6.1+ */
    //     -ms-flex: 1;  /* IE 10 */    
    //     flex: 1;
    // }
}
// .pomreport-interval-wrapper:first-child {
//         border-top: none;
//     }

// .pomreport-interval-wrapper:last-child {
//     border-bottom: none;
// }

.pomreport-time {
    flex-basis: 75px;
    min-width: 75px;
}
.pomreport-box-wrapper {
    flex-basis: 50px;    
}
.pomreport-box-outer {
    position: relative;
    width: 50px;
    background-color: indianred;
    // margin-bottom: 5px;
    border-radius: 4px;
}
.pomreport-box-inner {
    position: absolute;
    width: 50px;
    background-color: lightskyblue;
    // border-radius: 4px;
}

.pomreport-info-wrapper {
    margin-left: 10px;
    // height: 100%;    
    // display: inline-block;
}